version: '3.8'

services:
  db:
    image: postgres:15
    container_name: casino_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: casino_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: casino_backend
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: "postgresql://postgres:password123@db:5432/casino_db?schema=public"
      JWT_SECRET: "zmien_mnie_na_produkcji"
    depends_on:
      - db
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules

  frontend:
    build: ./frontend
    container_name: casino_frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    volumes:
      - ./frontend:/usr/src/app
      - /usr/src/app/node_modules

volumes:
  postgres_data: